# Gitignore clásico para proyectos de Python y Jupyter
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log
*.pot
*.mo
*.pyo
*.pyd
*.db
*.sqlite3
*.env
.env/
.venv/
venv/
ENV/
.envrc
*.bak
*.swp
.DS_Store
Thumbs.db
.ipynb_checkpoints/
# Ignorar archivos de configuración de VSCode
.vscode/
# Ignorar archivos de Jupyter Notebook específicos
assignment_1.ipynb
